html{
	height: 100%;
	color: #263238;
}
body{
	height: 100%;
}
nav{
	height: 100px;
}
.row{
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
}
.user, .restaurant{
	width: 100%;
	border: 3px solid #263238;
	box-sizing: border-box;
	display: table;
}
.user{
	height: 600px;
}

.restaurant{
	height: 300px;
}
.blog, .concept{
	width: 100%;
	height: 300px;
	border: 3px solid #263238;
	box-sizing: border-box;
	display: table;
}
.blog{
	width: 100%;
	margin-right: 0;
	margin-bottom: 50px;
}
.concept{
	width: 100%;
	margin-left: 0;
	margin-bottom: 50px;
}
.social{
	width: 100%;
	height: 250px;
	text-align: center;
	border: 3px solid #263238;
	box-sizing: border-box;
	display: table;
}
.container.content{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.no-margin-bottom{
	margin-bottom: 0;
}
.margin-icon{
	margin-right: 25px;
	margin-left: 25px;
}

/* Larger than mobile */
@media (min-width: 400px) {
.container.content{
	padding: 0 50px !important;
}
.blog{
	width: 100%;
	margin-right: 0;
}
.concept{
	width: 100%;
	margin-left: 0;
}	
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
.blog{
	width: 100% !important;
	margin-right: 0;
}
.concept{
	width: 100% !important;
}
}

/* Larger than tablet */
@media (min-width: 750px) {
.container.content{
	padding: 0 70px !important;
}
.blog{
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.concept{
	width: calc(50% - 25px) !important;
}
}

/* Larger than desktop */
@media (min-width: 1000px) {
.container.content{
	padding: 0 20px !important;
}
.blog{
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.concept{
	width: calc(50% - 25px) !important;
}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
.container.content{
	padding: 0 
}
.blog{
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.concept{
	width: calc(50% - 25px) !important;
}
}
