@font-face {font-family: 'Coves Light'; src: url(font/Coves_Light.otf);}
@font-face {font-family: 'Coves Bold'; src: url(font/Coves_Bold.otf);}

html{
	-webkit-text-size-adjust: none
}

html, body{
	font-family: 'Coves Light' !important;
	display: inline-block !important;
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
}
p{font-size: 20px !important;}
h1, h2, h3, h4, h5{
	font-family: 'Coves Bold';
	font-weight: 100 !important;
}
h3.after-picto{margin-top: 0 !important}
nav{
	height: 64px !important;
	position: fixed !important;
	z-index: 1000 !important;
	background: #000 !important;
	color: #fff !important;
	box-shadow: none !important;
	box-sizing: border-box !important;
}
nav ul a{
	color: #000 !important;
}
nav ul a:hover {
    background-color: #FFF !important;
    font-weight: 700;
}

nav ul a:active {
    background-color: #FFF !important;
    font-weight: 700;
}

nav .brand-logo {
    color: #000 !important;
}
img.logo{
    height: 40px !important;
    width: auto !important;
    margin: 11px 0 !important;
}

.valign-wrapper{width: 100%}
/* mobile */
@media (max-width: 600px){
	nav{
		padding: 0 10px;
	}	
	.side-nav{
		border-top: 1px solid #9e9e9e;
	}
}
@media (min-width: 601px) and (max-width: 992px) {
	nav{
		padding: 0 10px;
	}
	.side-nav{
		border-top: 1px solid #9e9e9e;
	}
}
@media (min-width: 992px) {
	nav{
		padding: 0 50px;
	}
}

.side-nav{
	top: 64px !important;
	width: 100% !important;
	box-shadow: none !important;
	background: #000 !important;
	color: #FFF !important;
}
.side-nav a{
	color: #FFF !important;
	border-bottom: 1px solid #9e9e9e;
	text-transform: uppercase;
	font-family: 'Coves Bold'
}
.side-nav a:hover{
	background: rgba(0, 0, 0, 0.5) !important;
}

.side-nav a:after{
	content: ">";
	font-size: 4rem;
	vertical-align: middle;
	position: relative;
	float: right
}

footer{
	height: 64px !important;
	background: #000;
	color: #FFF;
	text-align: center !important;
	margin: 0 !important;
	padding: 0 !important;
}
/******************************************************/
/*********************** IMG **************************/
/******************************************************/

.responsive-img{  
	max-width: 50% !important;
  	max-height: 100% !important;
}

#blog, #concept{background-size: 50% !important; background-repeat: no-repeat !important;}
#blog{background-position: center!important;}
#concept{background-position: top !important}

/******************************************************/
/******************** DIV HEIGHT **********************/
/******************************************************/

/* mobile */
@media (max-width: 600px){
	.height25{height: 25vh !important}
	.height33{height: 33vh !important}
	.height50{height: 50vh !important}
	.height75{height: auto !important}
	.height100{height: calc(100vh - 64px) !important}
	.height75-img{height: 50vh !important}
	.height-objective{min-height: 33vh !important}
	.min-height25{min-height: 25vh !important}
	.min-height33{min-height: 33vh !important}
	.min-height50{min-height: 50vh !important}
	.min-height75{min-height: 50vh !important}
	.min-height100{min-height: calc(100vh - 64px) !important}
}

/* tablet */
@media (min-width: 601px) and (max-width: 992px) {
	.height25{min-height: 25vh !important}
	.height33{min-height: 33vh !important}
	.height50{min-height: 50vh !important}
	.height75{min-height: 75vh !important}
	.height100{min-height: 100vh !important}
	.height75-img{height: 75vh !important}
	.height-objective{min-height: 33vh !important}
	.min-height25{min-height: 25vh !important}
	.min-height33{min-height: 33vh !important}
	.min-height50{min-height: 50vh !important}
	.min-height75{min-height: 75vh !important}
	.min-height100{min-height: calc(100vh - 64px) !important}
}

/* desktop */
@media (min-width: 992px) {
	.height25{min-height: 25vh !important}
	.height33{min-height: 33vh !important}
	.height50{min-height: 50vh !important}
	.height75{min-height: 75vh !important}
	.height100{min-height: 100vh !important}
	.height75-img{height: 75vh !important}
	.height-objective{height: 50vh !important}
	.min-height25{min-height: 25vh !important}
	.min-height33{min-height: 33vh !important}
	.min-height50{min-height: 50vh !important}
	.min-height75{min-height: 75vh !important}
	.min-height100{min-height: calc(100vh - 64px) !important}
}

/******************************************************/
/*********************** SEARCH ***********************/
/******************************************************/

p.search, .title, .unowr_result {margin: 0 !important}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 8px solid #E0E0E0;
    border-bottom: 5px solid transparent;
}
#triangle-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 8px solid #E0E0E0;
	border-bottom: 5px solid transparent;
}
p.answer.search{margin: 0 !important; background: #E0E0E0; border: none !important}
.row.search{
	border: none !important; 
	margin-bottom: 25px !important; 
	margin-top: 25px !important;     
	margin-left: 0 !important;
    margin-right: 0 !important;
}
div.bot-avatar{
	width: 52px !important;
	height: 52px !important;
    min-width: 52px !important;
    min-height: 52px !important;
	margin-right: 25px; 
	border-radius: 3px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/bot-avatar.png);
}
div.user-avatar{
	width: 52px !important;
	height: 52px !important;
    min-width: 52px !important;
    min-height: 52px !important;
	margin-left: 25px; 
	border-radius: 3px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/user.png);
}

.unowr-taxonomy{min-width: 100% !important}
.children{margin-top: 25px;}

.row.valign-wrapper.search.answer{
	float: right !important;
	margin-top: 0 !important;
}

.unowr-result-wrapper {
    color: #000 !important;
    background: #FFF !important;
    margin: 0 !important;
}
.unowr-result-wrapper div {
    display: inline-block !important; 
    vertical-align: middle !important; 
}
div.unowr_result{
	margin: 0 !important; 
	background: #E0E0E0; 
	border: none !important
}
.unowr-result-wrapper .unowr_result{
	margin: 0 !important; 
	background: #E0E0E0; 
	border: none !important;
	margin-left: 85px !important;
	padding: 19px 25px !important;
    border-radius: 3px;
}
.row.valign-wrapper.search.result{
	margin-top: 0 !important
}
.btn-flat.result{

}
/********************** LOADER ************************/

.loader {
	display: none;
	margin: 0 !important; 
	background: #E0E0E0; 
	border: none !important;    
	padding: 10px 25px;
	border-radius: 3px;
}
.dot {
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
          animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
          animation: fx 1000ms ease infinite 600ms;
}
@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/******************************************************/
/********************* DIV ORDER **********************/
/******************************************************/

.center{text-align: center; width: 100%}
.right{text-align: right}

/******************************************************/
/*********************** MARGIN ***********************/
/******************************************************/

.no-margin{margin: 0 !important;}

/******************************************************/
/********************** BUTTONS ***********************/
/******************************************************/

.btn-flat{border: 1px solid grey !important; margin: 25px 0;}
.btn-flat:hover{background: #F5F5F5 !important; color: #000 !important;}

/******************************************************/
/*********************** TITLES ***********************/
/******************************************************/

h1{font-size: 3rem !important; text-transform: uppercase !important;}
h2{font-size: 2.5rem !important; text-transform: uppercase !important;}
h3{font-size: 1.8rem !important;}
h4{font-size: 1.5rem !important;}
h5{font-size: 1.2rem;}

/* mobile */
@media (max-width: 600px) {}

/* tablet */
@media (min-width: 601px) and (max-width: 992px) {}

/* desktop */
@media (min-width: 992px) {}

/******************************************************/
/********************* CONTAINERS *********************/
/******************************************************/

.row{margin-bottom: 0 !important;}
.blog{border-bottom: 1px solid #E0E0E0; border-right: none; background-size: contain !important; background-repeat: no-repeat !important; background-position: middle !important;}
.concept{background-size: contain !important; background-repeat: no-repeat !important; background-position: middle !important;}
.margin-top{margin-top: 50px;}
.data-unowr-form {padding: 0 !important;}


/* mobile */
@media (max-width: 600px){
	.container{padding: 50px 0 50px 0 !important}
	.container.principle, .objective{padding: 0 0 50px 0 !important;}
	.container.objective{padding: 25px 0 !important;}
	.top-left{border-top: 2px dotted #E0E0E0;}
	.top-right{border-top: 2px dotted #E0E0E0;}
	.bottom-left{border-top: 2px dotted #E0E0E0;}
	.bottom-right{border-top: 2px dotted #E0E0E0; border-bottom: 2px dotted #E0E0E0;}
	#blog-text, #concept-text{padding-top: 25px !important}	
}

/* tablet */
@media (min-width: 601px) and (max-width: 992px) {
	.container{padding: 50px 0 50px 0 !important}
	.container.principle, .objective{padding: 0 0 50px 0 !important;}
	.container.objective{padding: 25px 0 !important;}
	#blog{border-bottom: 1px solid #E0E0E0;}
	.top-left{border-top: 2px dotted #E0E0E0;}
	.top-right{border-top: 2px dotted #E0E0E0;}
	.bottom-left{border-top: 2px dotted #E0E0E0;}
	.bottom-right{border-top: 2px dotted #E0E0E0; border-bottom: 2px dotted #E0E0E0;}
}

/* desktop */
@media (min-width: 992px) {
	.container{padding: 100px 0 100px 0 !important}
	.container.principle, .objective{padding: 0 0 100px 0 !important;}
	.container.objective{padding: 25px 0 !important;}
	.container.formulaire{width: 50% !important; margin-top: 64px; padding: 25px !important;}
	.top-left{border-right: 2px dotted #E0E0E0;border-top: 2px dotted #E0E0E0;}
	.top-right{border-top: 2px dotted #E0E0E0;}
	.bottom-left{border-right: 2px dotted #E0E0E0;border-top: 2px dotted #E0E0E0; border-bottom: 2px dotted #E0E0E0;}
	.bottom-right{border-top: 2px dotted #E0E0E0; border-bottom: 2px dotted #E0E0E0}
}

/******************************************************/
/************************ FORM ************************/
/******************************************************/

table.formulaire{color: #9e9e9e !important; border-bottom: 1px solid #9e9e9e; margin-bottom: 20px;}
th{font-weight: 100 !important}
thead{border-color: #9e9e9e !important; border: none !important}
[type="checkbox"].filled-in:not(:checked) + label:after {border: 2px solid #9e9e9e !important;}

.select-wrapper input.select-dropdown{color: #9e9e9e}

.validate.valid{color: #9e9e9e !important; border-color: #9e9e9e !important}
.validate.focus{color: #9e9e9e !important; border-color: #9e9e9e !important}
.validate.invalid{color: #F44336 !important;}
label.invalid{width: auto !important}

input:not([type]), 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=tel], 
input[type=number], 
input[type=search],
textarea.materialize-textarea {
	border: 1px solid #9e9e9e !important;
    padding-left: 10px !important;
    box-sizing: border-box !important;
    box-shadow: 0 !important;
    height: 3.5rem !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}

.materialize-textarea {
    overflow-y: hidden;
    padding: 14px 10px !important;
    resize: none;
    min-height: 3rem;
}


.input-field.col label {
    left: 1.75rem !important;
}

.input-field label {
    top: 1rem !important;
    background: white !important;
    width: auto !important;
    padding: 0 10px !important;
}

input:not([type]).valid, 
input:not([type]):focus.valid, 
input[type=text].valid, 
input[type=text]:focus.valid, 
input[type=password].valid, 
input[type=password]:focus.valid, 
input[type=email].valid, 
input[type=email]:focus.valid, 
input[type=url].valid, 
input[type=url]:focus.valid, 
input[type=time].valid, 
input[type=time]:focus.valid, 
input[type=date].valid, 
input[type=date]:focus.valid, 
input[type=datetime].valid, 
input[type=datetime]:focus.valid, 
input[type=datetime-local].valid, 
input[type=datetime-local]:focus.valid, 
input[type=tel].valid, 
input[type=tel]:focus.valid, 
input[type=number].valid, 
input[type=number]:focus.valid, 
input[type=search].valid, 
input[type=search]:focus.valid, 
textarea.materialize-textarea.valid, 
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: none !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9e9e9e !important; 
    box-shadow: 1px solid #9e9e9e !important;
}

.select-wrapper span.caret {
    right: 10px !important;
    top: 20px !important;
}

input:not([type]).invalid + label:after, input:not([type]):focus.invalid + label:after, input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after, input[type=password].invalid + label:after, input[type=password]:focus.invalid + label:after, input[type=email].invalid + label:after, input[type=email]:focus.invalid + label:after, input[type=url].invalid + label:after, input[type=url]:focus.invalid + label:after, input[type=time].invalid + label:after, input[type=time]:focus.invalid + label:after, input[type=date].invalid + label:after, input[type=date]:focus.invalid + label:after, input[type=datetime].invalid + label:after, input[type=datetime]:focus.invalid + label:after, input[type=datetime-local].invalid + label:after, input[type=datetime-local]:focus.invalid + label:after, input[type=tel].invalid + label:after, input[type=tel]:focus.invalid + label:after, input[type=number].invalid + label:after, input[type=number]:focus.invalid + label:after, input[type=search].invalid + label:after, input[type=search]:focus.invalid + label:after, textarea.materialize-textarea.invalid + label:after, textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    width: 250px !important;
    padding: 0 !important;
    top: 62px !important;
}

textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0 5px !important;
    resize: none;
    min-height: 3rem;
}

.screen-reader-response{display: none !important}
input{height: 3.5rem !important; padding: 0 !important}

div.wpcf7-validation-errors {
    border: none !important;
}

span.wpcf7-not-valid-tip {
    position: relative !important;
    top: -57px !important;
	float: right !important;
    margin-right: 10px !important;
}



/******************************************************/
/********************* BACKGROUND *********************/
/******************************************************/

.row#utilisateur{background-size: cover !important; background-repeat: no-repeat; background-position: bottom !important; border: 0 !important}
.row#restaurateur{background-size: cover !important; background-repeat: no-repeat; background-position: top !important;}
#unowr, #idea, #principle, #objectives, #team{
	background-size: cover;
	background-repeat: no-repeat;
}
#unowr{background-position: top}

/******************************************************/
/*********************** COLORS ***********************/
/******************************************************/

.color_white{color: #FFF !important; border-color: #FFF;}
.btn-flat.color_white{border: 1px solid #FFF !important;}
.color_black{color: #000; border-color: #000;}

/******************************************************/
/************************ ICONS ***********************/
/******************************************************/

.social-icon{font-size: 3rem; margin: 25px 25px !important; color: #000;}
.big-icon{font-size: 5rem}
.picto-social{color: #000; padding: 25px}	
#scroll-down{border-radius: 50%; position: relative !important; bottom: 25px !important; width: 100%; text-align: center}

@media (max-width: 600px){
	.picto-social{font-size: 2rem !important;}	
}
@media (min-width: 601px) and (max-width: 992px) {
	.picto-social{font-size: 3rem !important;}
}
@media (min-width: 992px) {
	.picto-social{font-size: 4rem !important;}
}
/******************************************************/
/*********************** HOVERS ***********************/
/******************************************************/


/* desktop */
@media (min-width: 992px) {
	/* Grow */
	.hvr-grow {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	}
	.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
}

/******************************************************/
/********************* BACKGROUND *********************/
/******************************************************/
#concept{background-size: cover !important; background-repeat: no-repeat;}

@media (max-width: 600px){
	#concept{background-position: bottom;}
}
@media (min-width: 601px) and (max-width: 992px) {
	#concept{background-position: bottom}
}
@media (min-width: 992px) {
	#concept{background-position: left}
}
/******************************************************/
/*********************** SEARCH  **********************/
/******************************************************/

.questions{
    border: 1px solid grey;
    padding: 10px 25px;
    border-radius: 3px;
    display: inline-block;
}
.unowr-choice{
	padding: 10px !important;
    border-radius: 2px !important;
}

form p:last-child {
    margin-bottom: 10px !important;
}
.chip{
    display: inline-block !important;
    height: 32px !important;
    font-size: 13px !important;
    color: rgba(0,0,0,0.6) !important;
    line-height: 32px !important;
    padding: 0 12px !important;
    border-radius: 16px !important;
    background-color: #fff !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
}
p.result-subcategory, p.result-ambiances{
	margin: 0 !important;
    font-size: 13px !important;
    padding: 0 12px !important;
    text-transform: none !important;
}
p.result-title{
	font-family: "Coves Bold";
}
/******************************************************/
/*********************** BOUTONS  *********************/
/******************************************************/

a.btn-flat.red{
	font-family: "Coves Bold" !important;
	background-color: transparent!important;
	border-color: transparent !important;
	color: #FFF !important;
	margin-left: 0 !important;
    margin-right: 0 !important;
}
a.btn-flat.red:hover{
	color: #ffffff !important;
	background: #f2152b !important;
}