@font-face {
    font-family: 'Coves Light';
    src: url(font/Coves_Light.otf);
}
@font-face {
    font-family: 'Coves Bold';
    src: url(font/Coves_Bold.otf);
}

html{
	height: 100%;
	color: #263238;
	margin-top: 0 !important;
}
body{
	font-family: 'Coves Light' !important;
	height: 100%;
	margin-top: 0 !important;
}
h1, h2, h3, h4{
	font-family: 'Coves Bold' !important;
}
h1{
	font-weight: 700 !important;
}
h2{
	font-weight: 500 !important;
}
h3{
	font-weight: 200 !important;
}
nav{
	height: auto;
}
img{
	max-width: 100% !important;
}
a{
	color: #263238 !important;
}
a.button.button-primary {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
}
a.button.button-primary:hover {
    color: #FFF;
    background-color: transparent;
    border-color: #888; 
}
a.button.button-primary:active {
    color: #FFF;
    background-color: transparent;
    border-color: #888; 
}
a.button.button-primary:focus {
    color: #FFF;
    background-color: transparent;
    border-color: #888; 
}

hr{
	width: 150px;
	margin: auto;
}

/**********************************************************/
/************************ TEXT ****************************/
/**********************************************************/

.align-center{width: 100%; text-align: center;}
.justify{text-align: justify !important;}
.color_white{color: #FFF !important;}
.color_black{color: #263238;}

/**********************************************************/
/********************* CONTAINERS *************************/
/**********************************************************/

/************************ ROWS ****************************/

.row{
	width: 100%;
	margin-bottom: 50px;
}
.row.no-border{
	border: none; 
}

/********************* CONTAINERS *************************/

.container{
	width: calc(100% - 100px);
    margin: auto !important;
}
.container.body{
	width: calc(100% - 25px);
	margin: auto;
}
.container.content{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

/********************** COLOUMNS **************************/

.four.columns.objectif{
	width: 100%;
	padding: 50px 0;
}

/************************ BLOCS ****************************/

.utilisateur, .restaurateur, .blog, .concept, .social, .unowr, .idee, .principe, .objectif{
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.user, .restaurant, .unowr, .idea, .principle, .objective, .team{
	height: calc(100vh - 100px);
	width: 100%;
	box-sizing: border-box;
	display: table;
}

.unowr{
	margin-top: 50px;
	height: calc(100vh - 150px)
}

.blog, .concept, .social{
	width: 100%;
	min-height: calc(50vh - 75px);
	box-sizing: border-box;
	display: table;
	margin-bottom: 50px;
}

/**********************************************************/
/*********************** MARGINS **************************/
/**********************************************************/

.margin-top{
	margin-top: 50px;
}
.no-margin-bottom{
	margin-bottom: 0;
}
.margin-icon{
	margin-right: 25px;
	margin-left: 25px;
}
.responsive-img{
    max-width: 100%;
    height: auto;
}

/**********************************************************/
/************************ HOVERS **************************/
/**********************************************************/

/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/**********************************************************/
/************************ ICONS ***************************/
/**********************************************************/

.medium-icon{
	font-size: 3rem;
}
.big-icon{
	font-size: 7rem;
}
.picto{
	color: #f2152b;
}

.screen-reader-response{display: none;}
/**********************************************************/
/************************* MENU ***************************/
/**********************************************************/
nav{
	position: fixed;
	top: 0;
	z-index: 100 !important; 
	width: 100% !important;
	background: #fff;
}
#checkbox, .btn span { /* Hide the checkbox input & word "Menu" in the button */
    display: none;
}

.btn{
    display: block;
    background-color: #fff;
    color: #fff;
    width: 55px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
}
/* Menu button - ends */

/* Sidebar - starts */
.sidebar {
    background-color: #fff;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-250px);
    text-transform: uppercase;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 16px;
}

.sidebar ul a li i {
    margin-right: 15px;
}

/* Add the word "New" to the second item and "2" to the third item */
.sidebar ul a:nth-child(2)::after, .sidebar ul a:nth-child(3)::after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    color: #fff;
    font-size: 13px;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sidebar ul a:nth-child(2)::after {
    content: "New";
    background-color: tomato;
}

.sidebar ul a:nth-child(3)::after {
    content: "2";
    background-color: #fff;
}

/* Add margin to the icon in the second item */
.sidebar ul a:nth-child(2) li i {
    margin-left: 4px;
    margin-right: 19px;
}

.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #fff;
    color: #fff;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #263238;
    width: 4px;
    height: 100%;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 250px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
/* Effect of showing the sidebar - ends */


/**********************************************************/
/*********************** QUERIES **************************/
/**********************************************************/

/****************** Larger than mobile ********************/

@media (min-width: 400px) {
.container.content{
	padding: 50px 10px !important;
}
.blog{
	width: 100%;
	margin-right: 0;
}
.photo1, .photo3, .photo2, .photo4{
	display: none;
}
.concept{
	width: 100%;
	margin-left: 0;
}
.four.columns{ 
	width: 100% !important; 
}
.container.body{
	width: calc(100% - 25px);
	margin: auto;
}
}

/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {
.blog{
	width: 100% !important;
	margin-right: 0;
}
.photo1, .photo3{
	display: none;
}
.concept{
	width: 100% !important;
}
.photo2, .photo4{
	display: none;
}
.objectif{
	width: 100%;
}
.four.columns{ 
	width: 100% !important; 
}
.container.body{
	width: calc(100% - 50px);
	margin: auto;
}
}

/* Larger than tablet */

@media (min-width: 750px) {
.container.content{
	padding: 50px 70px !important;
}
.blog{
	width: 100% !important;
}
.photo1, .photo3{
	display: table;
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.concept{
	width: 100% !important;
}
.photo2, .photo4{
	display: table;
	width: calc(50% - 25px) !important;
}
.four.columns{ 
	width: 100% !important; 
}
.container.body{
	width: calc(100% - 100px);
	margin: auto;
}
}

/* Larger than desktop */

@media (min-width: 1000px) {
.container.content{
	padding: 50px 10vw !important;
}
.blog{
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.photo1, .photo3{
	display: table;
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.concept{
	width: calc(50% - 25px) !important;
}
.photo2, .photo4{
	display: table;
	width: calc(50% - 25px) !important;
}
.four.columns{ 
	width: 33.3333333333% !important; 
}
}

/* Larger than Desktop HD */

@media (min-width: 1200px) {
.container.content{
	padding: 50px 10vw;
}
.blog{
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.photo1, .photo3{
	display: table;
	width: calc(50% - 25px) !important;
	margin-right: 50px;
}
.concept{
	width: calc(50% - 25px) !important;
}
.photo2, .photo4{
	display: table;
	width: calc(50% - 25px) !important;
}
.four.columns{ 
	width: 33.3333333333% !important; 
}
}
